<!-- 左侧导航列表 -->
  <div class="left">
    <div class="left_title">
      <span></span>
      <h2>组织架构</h2>
    </div>
    <div class="left_list">
       <ul>
       	<!--{if($departmentleftcorpnav=='yes')}-->
         	<li class="left_list_nav left_artcile"><a href="/department/run">部门管理</a></li>
         <!--{else}-->
         	<li class="left_list_nav"><a href="/department/run">部门管理</a></li>
         <!--{/if}-->
         
         <!--{if($roleleftcorpnav=='yes')}-->
         	<li class="left_list_nav left_artcile" ><a href="/role/run">角色设置</a></li>
         <!--{else}-->
         	<li class="left_list_nav" ><a href="/role/run">角色设置</a></li>
         <!--{/if}-->
         
         <!--{if($adminleftcorpnav=='yes')}-->
         	<li class="left_list_nav left_artcile"><a href="/admin/run/status/1">用户管理</a></li>
         <!--{else}-->
         	<li class="left_list_nav"><a href="/admin/run/status/1">用户管理</a></li>
         <!--{/if}-->
         
       </ul>
    </div>
  </div>
