<header>
    <!-- logo -->
   <div class="top">
     <h1>
       <img src="/static/images/logo.png" alt="百合贷">
       <span>直销业务系统</span>
     </h1>
   <!-- 导航 -->
   <nav>
     <ul id="menu">
     	<!--{if($index=='yes')}-->
     		<li>
     			<a href="/index/run" style="color: rgb(253, 216, 45);">首页</a>
     			<span class="article"></span>
     		</li>
     		<!--{else}-->
       		<li><a href="/index/run">首页</a></li>
    	<!--{/if}-->
       
        <!--{if($gid=='1'||$gid=='2'||$gid=='3')}-->
        	 <!--{if($department=='yes')}-->
	       		<li>
	       			<a href="/department/run/" style="color: rgb(253, 216, 45);" >组织架构</a>
	       			<span class="article"></span>
	       		</li>
       		<!--{else}-->
       			<li><a href="/department/run/">组织架构</a></li>
       		<!--{/if}-->
 		<!--{/if}-->
 		
 		<!--{if($myClients=='yes')}-->
 			<li>
 				<a href="/myClients/run/" style="color: rgb(253, 216, 45);" >业绩管理</a>
 				<span class="article"></span>
 			</li>
 		<!--{else}-->
 			<li><a href="/myResults/run/">业绩管理</a></li>
 		<!--{/if}-->
       
       <!--{if($customer=='yes')}-->
       		<li>
       			<a href="/customer/run/" style="color: rgb(253, 216, 45);">客户管理</a>
       			<span class="article"></span>
       		</li>
       <!--{else}-->
       		<li><a href="/customer/run/">客户管理</a></li>
       <!--{/if}-->
       
       <!--{if($notice=='yes')}-->
       		<li>
       			<a href="/notice/run/" style="color: rgb(253, 216, 45);">公告管理</a>
       			<span class="article"></span>
       		</li>
       <!--{else}-->
       		<li><a href="/notice/run/">公告管理</a></li>
       <!--{/if}-->
     </ul>
   </nav>
   <!-- 登陆退出登陆 -->
     <div class="login">
         <a href="javascript:viod(0)" onclick="logout();">安全退出</a>
     </div>

	<div class="login">
		<a href="/admin/modifyPassword/">修改密码</a>
	</div>

   </div>
</header>

<script type="text/javascript">
function logout(){
	$.ajax({
		type: 'POST',
		url:'/login/logout',
		data: {'out':'true'},
		dataType: 'json',
		success: function(json) {
            window.location.reload();
        }
	});
}
</script>
