<header>
    <!-- logo -->
   <div class="top">
     <h1>
       <img src="/static/images/logo.png" alt="百合贷">
       <span>直销业务系统</span>
     </h1>
   <!-- 导航 -->
   <nav>
     <ul id="menu">
       <li><a href="/index/run">首页</a></li>
       <li><a href="/department/run/">组织架构</a></li>
       <li><a href="/myClients/run/">业绩管理</a></li>
       <li><a href="/customer/run/">客户管理</a></li>
     </ul>
   </nav>
   <!-- 登陆退出登陆 -->
     <div class="login">
         <a href="javascript:viod(0)" onclick="logout();">安全退出</a>
     </div>
   </div>
</header>

<script type="text/javascript">
function logout(){
	$.ajax({
		type: 'POST',
		url:'/login/logout',
		data: {'out':'true'},
		dataType: 'json',
		success: function(json) {
            window.location.reload();
        }
	});
}
</script>
