body,h1,h2,ul,li,p,span,a,i{
  margin: 0;
  padding:0;
}
.wrapper{
  min-width: 1220px;
  font-family: Arial, "Hiragino Sans GB", 微软雅黑, 黑体-简, Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
  overflow: hidden;
}
a{
  text-decoration: none;
  /*color:#fff;*/
}
ul{
  list-style: none;
}
/*头部*/
header{
  height:70px;
  width: 100%;
  overflow: hidden;
  background-image: url(../images/top_bg.png);
  background-size: 100%;
}
.top{
  min-width: 1140px;
  margin:0 auto;
  padding: 0 40px;
  color:#fff;
}
header h1,nav,.top ul>li{
  /*padding-top:10px;*/
  float: left;
  list-style: none;
}
header h1{
  margin-top:13px;
}
header h1>span{
  display: block;
  font-size: 13px;
  letter-spacing: 5px;
  font-weight: 400;
}
.top ul{
  margin-left: 85px;
}
.top ul>li{
 margin:0 40px 0 0;
 position: relative;
 line-height: 70px;
 font-size:16px;
}
.top ul>li a{
 color:#fff;
}
.login{
  float: right;
  line-height: 70px;
}
.login>a{
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  padding: 8px;
  border: 1px solid #9CDDDF;
  border-radius: 5px;
  color:#fff;
}
/*主体内容*/
.content{
  background: #E6E9F0;
  min-width: 1440px;
}
/*左侧*/
.left,.right{
  float:left;
}
.left{
  width: 185px;
  background-color:#333A4B;
  color:#fff;
}
.left_title{
  line-height: 50px;
  background-color: #3E4658;
}
.left_title>span,.left_title>h2{
  display:inline-block;
  margin-left: 15px;
}
.left_title>span{
  background-image: url(../images/icon_1.png);
  width: 13px;
  height: 11px;
}
.left_title>h2{
  font-size: 14px;
  margin-left: 5px;
  font-weight: 400;
}
.left_list>ul{
  list-style: none;
  font-size: 14px;
  overflow: hidden;
}

.left_list>ul>li{
  line-height: 38px;
  padding-left: 35px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  cursor: pointer;
}
.left_list>ul>li>a{
 color:#fff;
}
.left_list>ul>li:hover{
  border-left-color: #1E7CF2;
  background-color: #2E3143;
}

/*右侧顶部*/
.right{
  background:#E6E9F0;
  min-height: 688px;
  background: #fff;
  border: 10px solid #E6E9F0;
  overflow: hidden;
}
.rigth_title{
  overflow: hidden;
  font-size: 14px;
  border-bottom: 2px solid #79B5F7;
  color:#3C3C3C;
  background: #fff;
}
.rigth_title h2{
  float:left;
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
  padding-left: 10px;
}
.rigth_title .rigth_t_btn{
  float:right;
  padding:12px;
}
.rigth_title .rigth_t_btn span{
  display: inline-block;
  background-color:#31BD8C;
  color:#fff;
  font-size: 12px;
  /*padding:8px;*/
  line-height: 30px;
  border-radius: 3px;
  padding: 0 8px;
  cursor: pointer;
}
.rigth_title .rigth_t_btn span:nth-child(1) i{
  display: inline-block;
  width: 14px;
  height: 14px;
  margin:-3px 5px 0 0;
  vertical-align: middle;
  background-image: url(../images/icon_2.png);
}
.right_list{
  background: #fff;
  overflow: hidden;
}
/*弹窗*/
.setModle{
  width: 570px;
  height: 280px;
  border-radius: 5px;
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background:#fff;
  border: 1px solid #000;
  display: none;
  z-index: 999;
  overflow: hidden;
}
.setModle .title{
  line-height: 50px;
  width: 100%;
  background: #333A4B;
  font-size: 14px;
  color: #fff;
  padding-left: 15px;
}
.setModle .title span{
  float: right;
  margin-right: 30px;
  cursor: pointer;
}
.setModle table{
  color: #AAAAAA;
  font-size: 14px;
  font-weight: 400;
  margin: 20px auto 0;
}
.setModle table i{
  color:red;
  margin-right: 5px;
}
.setModle table tr>td:nth-child(1){
  text-align: right;
  padding: 12px 0;
}
.setModle table input{
  width: 250px;
  height: 25px;
  border-radius: 5px;
  margin-left: 10px;
  border:1px solid #d1d1d1;
}
.setModle table button{
  width: 250px;
  height: 42px;
  background: #1E7CF2;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  margin-left: 60px;
}


.setModle input[disabled="disabled"]{
  background: #E6E9F0;
}
.selectlist{
  position: relative;
}
#selectlist{
  position: absolute;
  left:13px;
  top:33px;
  background: #fff;
  width: 248px;
  height: 120px;
  border: 1px solid #D1D1D1;
  border-top: 0;
  overflow-y:scroll;
  display: none;
}
#selectlist>ul ul{
  padding-left: 8px;
  cursor: pointer;
}
#selectlist [class^="list"]:hover{
  color: #1E7CF2;
}

/*遮罩层*/
.mask{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #222D32;
  opacity: 0.5;
  z-index: 101;
}

/*导航高亮条*/
.article{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: #FDD82D;
}
.articlecolor a{
  color:#FDD82D;
}
