
/*右侧*/
.serch{
  padding:10px;
  background: #fff;
}
.selectBox,.serch>input{
  height: 28px;
  border:1px solid #d1d1d1;
  border-radius: 5px;
  background: #F8F8F8;
  color: #41485D;
  text-indent: 5px;
}
.selectBox{
  width: 340px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
}
.selectBox select{
  width: 400px;
  height: 30px;
  border:0;
  outline: inherit;
  text-indent: 20px;
}
.serch button{
  border:1px solid #1E7CF2;
  background: #1E7CF2;
  color: #fff;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  outline: inherit;
}
.selectBox::before{
  content: "";
  display: block;
  width: 15px;
  height: 14px;
  background: url(../images/icons_4.png) no-repeat;
  position: absolute;
  left:10px;
  top:50%;
  -o-transition:  translate(0,-50%);
  -moz-transition:  translate(0,-50%);
  -ms-transition:  translate(0,-50%);
  transform: translate(0,-50%);
}
.selectBox::after{
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  border: 2px solid #686B76;
  right:10px;
  top:8px;
  transform: rotate(45deg);
  border-left-width:0;
  border-top-width:0;
}
  /*列表*/
  .tablelist table{
    width: 100%;
    border-collapse: collapse;
  }
.tablelist table th{
  font-size: 13px;
  line-height: 40px;
  font-weight: blod;
  border: 1px solid #E6E9F0;

}
.tablelist table td{
  border: 1px solid #E6E9F0;
  text-align: center;
  padding:8px 0;
  font-size:14px;
}
.tablelist table tr:nth-child(odd){
  background:#F4F4F6;
}
