<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>销售管理系统</title>
	<base href="<?php echo InitPHP::getConfig('url');?>"/>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/css.css">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/public.css">
  <link rel="stylesheet" href="/static/css/structure.css">
  <script type="text/javascript" src="/static/js/jquery-3.1.1.js"></script>
  <style>
	.label {
	    line-height: 32px;
	}
  </style>
</head>
<body>
<div class="wrapper">
<!--{layout:top}-->

<article class="content">
<!--{layout:left_corp_nav}-->

 <div class="right st_right">
     <div class="rigth_title">
       <h2>添加角色</h2>
     </div>

  <div class="body-content">
    <form id="form" class="form-x" >
      <div class="form-group">
        <div class="label">
          <label>角色名称：</label>
        </div>
        <div class="field">
		  <input name="name" type="text" class="input w50" id="name" value="<!--{$info['name']}-->" />       
          <div class="tips"></div>
        </div>
      </div> 
      <div class="form-group">
        <div class="label">
          <label>权重：</label>
        </div>
        <div class="field">
		  <input name="privilege" type="text" class="input w50" id="privilege" value="<!--{$info['privilege']}-->" />   
          <div class="tips" style="line-height:32px">总裁1000 副总裁999 城市总900 城市副总899 区县总 800 团队总监300 团队经理200 销售100</div>
        </div>
      </div> 
      <div class="form-group">
        <div class="label">
          <label>角色权限：</label>
        </div>
        <div class="field" id="power">
			<fieldset class="source">
				<legend>系统管理</legend>
					<input name="model_power[]" type="checkbox" value="1001" > 部门管理 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1002" > 部门管理-添加-显示 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1003" > 部门管理-添加-保存 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1004" > 部门管理-修改-显示 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1005" > 部门管理-修改-保存&nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1006" > 部门管理-删除&nbsp;&nbsp;
					<br />
					<br />

					<input name="model_power[]" type="checkbox" value="1007"> 角色管理 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1008" > 角色管理-添加-显示&nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1009" > 角色管理-添加-保存&nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1010" > 角色管理-修改-显示 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1011" > 角色管理-修改-保存 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1012" > 角色管理-删除 &nbsp;&nbsp;
					<br />
					<br />

					<input name="model_power[]" type="checkbox" value="1013" > 用户管理 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1014" > 用户管理-添加-显示 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1015" > 用户管理-添加-保存 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1016" > 用户管理-修改-显示 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1017" > 用户管理-修改-保存 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1018" > 用户管理-删除 &nbsp;&nbsp;
					<br />

			</fieldset>
			<fieldset class="source">
				<legend>业绩管理</legend>
					<input name="model_power[]" type="checkbox" value="1019" > 我的业绩 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1020" > 我的客户 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1021" > 未投资客户 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1022" > 客户明细 &nbsp;&nbsp;
					<br />

					<input name="model_power[]" type="checkbox" value="1023" > 部门业绩统计 &nbsp;&nbsp;
					<br />

					<input name="model_power[]" type="checkbox" value="1024" > 部门业绩明细 &nbsp;&nbsp;
					<br />
			</fieldset>
			<fieldset class="source">
				<legend>客户管理</legend>
					<input name="model_power[]" type="checkbox" value="1025" > 客户分配 &nbsp;&nbsp;
					<br />

					<input name="model_power[]" type="checkbox" value="1026" > 重新分配-显示 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1027" > 重新分配-保存 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1028" > 分配记录 &nbsp;&nbsp;
					<br />
			</fieldset>

			<fieldset class="source">
				<legend>公告管理</legend>
					<input name="model_power[]" type="checkbox" value="1029" > 公告首页 &nbsp;&nbsp;
					<br />

					<input name="model_power[]" type="checkbox" value="1030" > 发布公告 &nbsp;&nbsp;
					<br />

					<input name="model_power[]" type="checkbox" value="1031" > 公告修改-显示 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1032" > 公告修改-保存 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1033" > 删除公告 &nbsp;&nbsp;
					<br />
			</fieldset>
			<div class="tipss"></div>
        </div>
      </div>

     <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
            <button  class="button bg-main icon-check-square-o" type="button" onclick="sub(this)"> 提交</button>
        </div>
      </div>
    </form>
  </div>

<script type="text/javascript">
function sub(obj){

	var name  =  $("#name").val();
	var privilege = parseInt($("#privilege").val());

	if(name == ""){
		$(".tipss").html("<font color=\"red\">角色名不能为空！</font>").show();
		return;
	}

	if(privilege < 0 || privilege > 1000){
		$(".tipss").html("<font color=\"red\">权重值必须要在0到1000之间！</font>").show();
		return;
	}
	var power = null;
	$("#power fieldset input[type=checkbox]").each(function(){
		if(this.checked){
			power = $(this).val();
		}
	});  

	if(power == null){
		$(".tipss").html("<font color=\"red\">角色权限不能为空</font>").show();
		return;
	}
	
	$.ajax({
		url: '/role/<!--{$action}-->_save',
		type: 'post',
		dataType:'json',
		data: $('#form').serialize(),
		success: function(data) {
			if(data.status==1){
				window.location.href="/role/run";
			}else{
				alert(data.message);
				$("#tipss").html("<font color=\"red\">"+data.message+"</font>");
				setTimeout(function() {
					$("#tipss").html('');
				}, 3000);
				return false;
			}
		}
	});

};
</script>

</div>
</article>
</div>

<script type="text/javascript" src="/static/js/public.js"></script>
</body>
</html>
