<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>销售管理系统</title>
	<base href="<?php echo InitPHP::getConfig('url');?>"/>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/css.css">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/public.css">
  <link rel="stylesheet" href="/static/css/structure.css">
  <script type="text/javascript" src="/static/js/jquery-3.1.1.js"></script>
</head>
<body>
<div class="wrapper">
<!--{layout:top}-->

<article class="content">
<!--{layout:left_corp_nav}-->
 <div class="right st_right">
     <div class="rigth_title">
       <h2>修改角色</h2>
     </div>

<div class="panel admin-panel margin-top">
  <div class="body-content">
    <form id="form" class="form-x" >
      <div class="form-group">
        <div class="label">
          <label>角色名称：</label>
        </div>
        <div class="field">
		  <input name="name" type="text" class="input w50" id="name" value="<!--{$info['name']}-->" />       
          <div class="tips"></div>
        </div>
      </div> 
      <div class="form-group">
        <div class="label">
          <label>权重：</label>
        </div>
        <div class="field">
		  <input name="privilege" type="text" class="input w50" id="privilege" value="<!--{$info['privilege']}-->" />   
          <div class="tips">总裁1000 副总裁999 城市总900 城市副总899 区县总 800 团队总监300 团队经理200 销售100</div>
        </div>
      </div> 
      <div class="form-group">
        <div class="label">
          <label>角色权限：</label>
        </div>
        <div class="field" id="power">
			<fieldset class="source">
				<legend>系统管理</legend>
					<input name="model_power[]" type="checkbox" value="1001" <?php if(in_array(1001,$model_power)):?> checked="checked" <?php endif;?>> 部门管理 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1002" <?php if(in_array(1002,$model_power)):?> checked="checked" <?php endif;?>> 部门管理-添加-显示 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1003" <?php if(in_array(1003,$model_power)):?> checked="checked" <?php endif;?>> 部门管理-添加-保存 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1004" <?php if(in_array(1004,$model_power)):?> checked="checked" <?php endif;?>> 部门管理-修改-显示 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1005" <?php if(in_array(1005,$model_power)):?> checked="checked" <?php endif;?>> 部门管理-修改-保存 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1006" <?php if(in_array(1006,$model_power)):?> checked="checked" <?php endif;?>> 部门管理-删除&nbsp;&nbsp;
					<br />
					<br />
					<input name="model_power[]" type="checkbox" value="1007" <?php if(in_array(1007,$model_power)):?> checked="checked" <?php endif;?>> 角色管理 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1008" <?php if(in_array(1008,$model_power)):?> checked="checked" <?php endif;?>> 角色管理-添加-显示 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1009" <?php if(in_array(1009,$model_power)):?> checked="checked" <?php endif;?>> 角色管理-添加-保存 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1010" <?php if(in_array(1010,$model_power)):?> checked="checked" <?php endif;?>> 角色管理-修改-显示 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1011" <?php if(in_array(1011,$model_power)):?> checked="checked" <?php endif;?>> 角色管理-修改-保存 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1012" <?php if(in_array(1012,$model_power)):?> checked="checked" <?php endif;?>> 角色管理-删除 &nbsp;&nbsp;
					<br />
					<br />

					<input name="model_power[]" type="checkbox" value="1013" <?php if(in_array(1013,$model_power)):?> checked="checked" <?php endif;?>> 用户管理 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1014" <?php if(in_array(1014,$model_power)):?> checked="checked" <?php endif;?>> 用户管理-添加-显示 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1015" <?php if(in_array(1015,$model_power)):?> checked="checked" <?php endif;?>> 用户管理-添加-保存 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1016" <?php if(in_array(1016,$model_power)):?> checked="checked" <?php endif;?>> 用户管理-修改-显示 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1017" <?php if(in_array(1017,$model_power)):?> checked="checked" <?php endif;?>> 用户管理-修改-保存 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1018" <?php if(in_array(1018,$model_power)):?> checked="checked" <?php endif;?>> 用户管理-删除 &nbsp;&nbsp;
					<br />
			</fieldset>
			<fieldset class="source">
				<legend>业绩管理</legend>
					<input name="model_power[]" type="checkbox" value="1019" <?php if(in_array(1019,$model_power)):?> checked="checked" <?php endif;?>> 我的业绩 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1020" <?php if(in_array(1020,$model_power)):?> checked="checked" <?php endif;?>> 我的客户 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1021" <?php if(in_array(1021,$model_power)):?> checked="checked" <?php endif;?>> 未投资客户 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1022" <?php if(in_array(1022,$model_power)):?> checked="checked" <?php endif;?>> 客户明细 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1023" <?php if(in_array(1023,$model_power)):?> checked="checked" <?php endif;?>> 部门业绩统计 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1024" <?php if(in_array(1024,$model_power)):?> checked="checked" <?php endif;?>> 部门业绩明细 &nbsp;&nbsp;
					<br />
			</fieldset>
			<fieldset class="source">
				<legend>客户管理</legend>
					<input name="model_power[]" type="checkbox" value="1025" <?php if(in_array(1025,$model_power)):?> checked="checked" <?php endif;?>> 客户分配 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1026" <?php if(in_array(1026,$model_power)):?> checked="checked" <?php endif;?>> 重新分配-显示 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1027" <?php if(in_array(1027,$model_power)):?> checked="checked" <?php endif;?>> 重新分配-保存 &nbsp;&nbsp;
					<br />
					<input name="model_power[]" type="checkbox" value="1028" <?php if(in_array(1028,$model_power)):?> checked="checked" <?php endif;?>> 分配记录 &nbsp;&nbsp;
					<br />
			</fieldset>
			<div class="tipss"></div>
        </div>
      </div>

     <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
		    <input name="id" id="id" type="hidden" value="<!--{$info['id']}-->" />
            <button  class="button bg-main icon-check-square-o" type="button" onclick="sub(this)"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
function sub(obj){

	var name  =  $("#name").val();
	var id    =  $("#id").val();

	if(name == ""){
		$(".tipss").html("<font color=\"red\">角色名称不能为空</font>").show();
		return;
	}
	
	var power = null;
	$("#power fieldset input[type=checkbox]").each(function(){
		if(this.checked){
			power = $(this).val();
		}
	});  

	if(power == null){
		$(".tipss").html("<font color=\"red\">角色权限不能为空</font>").show();
		return;
	}
	
	$.ajax({
		url: '/role/<!--{$action}-->_save',
		type: 'post',
		dataType:'json',
		data: $('#form').serialize(),
		success: function(data) {
			if(data.status==1){
				window.location.href="/role/run";
			}else{
				$("#tipss").html("<font color=\"red\">"+data.message+"</font>");
				setTimeout(function() {
					$("#tipss").html('');
				}, 3000);
				return false;
			}
		}
	});

};
</script>

</div>
<article>
</div>
<script type="text/javascript" src="/static/js/public.js"></script>
</body>
</html>
