<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>销售管理系统</title>
	<base href="<?php echo InitPHP::getConfig('url');?>"/>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/css.css">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/public.css">
  <link rel="stylesheet" href="/static/css/structure.css">
  <script type="text/javascript" src="/static/js/jquery-3.1.1.js"></script>
</head>
<body>
<div class="wrapper">
  <!--{layout:top}-->
 <!-- 主体内容 -->
	<article class="content">
  <!--{layout:left_corp_nav}-->

	<div class="right st_right">
     <div class="rigth_title">
       <h2>角色管理</h2>
<div class="rigth_t_btn">
 <span><i></i><a href="/role/add" style="color:#fff;">新增角色</a></span>
       </div>
     </div>
	<div class="right_list">
  <table class="table table-hover text-center">
    <tr>
      <th width="5%">ID</th>     
      <th>角色名称</th>  
      <th>权重</th>  
      <th width="250">操作</th>
    </tr>
	
	<!--{foreach($list as $key=>$vo)}-->
    <tr>
      <td><!--{$vo['id']}--></td>      
      <td><!--{$vo['name']}--></td>  
      <td><!--{$vo['privilege']}--></td>  
      <td>
      <div class="button-group">
      	<!--{if($role_id == 1)}-->
       		<a class="button border-main" href="/role/edit/id/<!--{$vo['id']}-->"><span class="icon-edit"></span>修改</a>
       		<a class="button border-red" href="javascript:void(0)" onclick="del('<!--{$vo['id']}-->',this)"><span class="icon-trash-o"></span> 删除</a>
       <!--{else}-->
       		<a  class="button border-main" href="javascript:void(0);"><span class="icon-edit"></span>修改</a>
       		<a class="button border-red" href="javascript:void(0);"><span class="icon-trash-o"></span> 删除</a>
       <!--{/if}-->
      </div>
      </td>
    </tr> 
	<!--{/foreach}-->

  </table>
</div>
</div>
<script>
function del(id,obj){
	if(confirm("您确定要删除吗?")){
		$.ajax({
			url: '/role/del',
			type: 'post',
			dataType:'json',
			data: {id: id},
			success: function(msg) {
				if(msg.status == 2){
					alert("内置角色无法删除");
				}else{
					$(obj).parent().parent().parent().remove();
				}
			}
		});
	}
}
</script>
</div>
</article>
</div>

<script type="text/javascript" src="/static/js/public.js"></script>
</body></html>
