<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>销售管理系统</title>
    <base href="<?php echo InitPHP::getConfig('url');?>"/>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/css.css">
    <script src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/jeDate/jedate.js"></script>
    <style type="text/css">
        body{font-family:微软雅黑;}
    </style>
</head>
<body>
<div class="panel admin-panel">
    <div class="panel-head">
        <strong class="icon-reorder">部门业绩统计</strong>
    </div>
  	<div class="padding border-bottom"> 
  	<!--{foreach($cityDepartment as $k=>$v)}--> 
      <a class="button border-yellow" href="/bmyjmx/total<!--{if(!empty($v['department_name']))}-->/city/<!--{$v['department_name']}--><!--{/if}-->" <!--{if($v['department_name']==$city)}-->style="color:#fff;border-color:#f90;background-color:#f90"<!--{/if}-->> <!--{$v['department_name']}--></a>
    <!--{/foreach}-->
  </div>
  <div class="padding border-bottom">
      <form action="/bmyjmx/total" method="post">
        统计日期 ： <input type="text" name="start_date" id="dateinfo" style="width: 130px;height: 25px;" value="<!--{$start_date}-->" placeholder=""> - 
        <input type="text" name="end_date" id="dateinfo2" style="width: 130px;height: 25px;margin-right: 20px;" value="<!--{$end_date}-->" placeholder="">
        按部门:	<select name="department_id" style="width:150px;margin-right: 20px;">
                    <option value="">请选择</option>
                    <!--{foreach($my_department_lsit as $k=>$v)}-->
                    <option value="<!--{$v['department_id']}-->"<!--{if($department_id==$v['department_id'])}-->selected<!--{/if}-->><!--{$v['step']}--><!--{$v['department_name']}--></option>
                    <!--{/foreach}-->
                </select>
        姓名 ： <input type="text" name="username" style="width: 160px;height: 25px;margin-right: 30px;" value="<!--{$username}-->" placeholder="姓名">
      <input type="submit" class="button border-yellow" value="搜索"> 
      </form>
      <div style="padding-top:20px;">
          <span><span style="color:red;"><?php echo date('Y年m月',time());?>份，<!--{$my_department['department_name']}--></span> 销售业绩</span>
      </div>
  </div>
  <table class="table table-hover text-center">
    <tr>
        <th width="5%">大区</th>    
        <th>分公司</th>
        <th>部门</th> 
        <th>团队</th>
        <th>员工姓名</th>
        <th>职级</th>
        <th>入职时间</th>
        <th>入金规模</th>
        <th>折标金额</th>
        <th>回款</th>
    </tr>
    <!--{foreach($user_data as $k=>$v)}-->
    <tr <!--{if($v['gid']=='3' || $v['gid']=='4')}-->bgcolor="#FFC000"<!--{elseif($v['gid']=='5' || $v['gid']=='6')}-->bgcolor="#FFFF00"<!--{elseif($v['gid']=='7' || $v['gid']=='8')}-->bgcolor="#F2F2F2"<!--{elseif($v['gid']=='9')}-->style="color:red;"<!--{/if}-->>
        <td><!--{$v['info'][1]}--></td>
        <td><!--{$v['info'][2]}--></td>
        <td><!--{$v['info'][3]}--></td>
        <td><!--{$v['info'][4]}--></td>
        <td><!--{$v['UsrName']}--></td>
        <td><!--{$v['name']}--></td>
        <td><!--{$v['Inthetime']}--></td>
        <td><!--{$v['zonge']}--></td>
        <td><!--{$v['nianhuan']}--></td>
        <td><!--{$v['huikuan']}--></td>
    </tr>
    <!--{/foreach}-->
  </table>
</div>
<div class="padding border-bottom">  
    <!--{$page_html}-->
</div> 
    <script type="text/javascript">
        jeDate({
            dateCell:"#dateinfo",
            format:"YYYY-MM-DD",
            isinitVal:false,
            isTime:false, //isClear:false,
            minDate:"2014-09-19",
            okfun:function(val){alert(val)}
	});
        jeDate({
            dateCell:"#dateinfo2",
            format:"YYYY-MM-DD",
            isinitVal:false,
            isTime:false, //isClear:false,
            minDate:"2014-09-19",
            okfun:function(val){alert(val)}
	});
    </script>
</body>
</html>

