<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>销售管理系统</title>
	<base href="<?php echo InitPHP::getConfig('url');?>"/>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/css.css">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/public.css">
  <link rel="stylesheet" href="/static/css/structure.css">
  <script type="text/javascript" src="/static/js/jquery-3.1.1.js"></script>
</head>
<body>
<div class="wrapper">
	 <!--{layout:top}-->
	 <div class="st_right" style="width: 800px;margin: 0 auto;min-height: 585px;background: #fff;border: 10px solid #E6E9F0;overflow: hidden;margin-top: 10px;">
		 <div class="rigth_title">
		   <h2 style="text-align: center;float: none;"><!--{$arr['title']}--></h2>
		 </div>
		  <div class="body-content">
			  <div class="form-group" style="margin-left: 20px;"><!--{$arr['content']}--></div> 
		  </div>
	</div>
</div>


</body>
</html>
