<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>业务管理系统</title>
	<base href="<?php echo InitPHP::getConfig('url');?>"/>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/css.css">
    <script src="/static/js/jquery.js"></script>
</head>
<body>
<div class="panel admin-panel margin-top">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>添加客户</strong></div>
  <div class="body-content">
	<form id="form" class="form-x" >
	
		

      <div class="form-group">
        <div class="label">
          <label>用户名：</label>
        </div>
        <div class="field">
				<input name="user" type="text" class="input w50" id="user" onblur="chekUsName()"/>
          <div class="tips_user" style="float: left;padding-left: 10px;color: #888;line-height: 42px;"></div>
        </div>
      </div> 
      <div class="form-group">
        <div class="label">
          <label>手机号：</label>
        </div>
        <div class="field">
		  <input name="phone" type="text" class="input w50" id="phone" onblur="chekPhone()"/>       
          <div class="tips_Phone" style="float: left;padding-left: 10px;color: #888;line-height: 42px;"></div>
        </div>
      </div> 
	  
      <div class="form-group">
        <div class="label">
          <label>密码：</label>
        </div>
        <div class="field">
		  <input name="password" type="password" class="input w50" id="password"  onblur="chekPassWord()"/> 
		  <div class="tips_Password" style="float: left;padding-left: 10px;color: #888;line-height: 42px;"></div>		  
        </div>
      </div> 
	  
      <div class="form-group">
        <div class="label">
          <label>确认密码：</label>
        </div>
        <div class="field">
		  <input name="rePassword" type="password" class="input w50" id="rePassword"  onblur="chekRePassWord()"/>   
		  <div class="tips_RePassword" style="float: left;padding-left: 10px;color: #888;line-height: 42px;"></div>	
        </div>
      </div> 
     <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
		    <input name="yaoqingma" id="yaoqingma" type="hidden" value="<!--{$jingjireninfo['phone']}-->" />
		    <input name="laiyuan" id="laiyuan" type="hidden" value="11" />
			<input type="hidden" name="init_token" id="init_token" value="<!--{$init_token}-->"/>
            <button  class="button bg-main icon-check-square-o" type="button" onclick="sub(this)"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
var user = 0, Phone = 0, password = 0, rpassword = 0;
function chekUsName()
{
    var s = $("#user").val();
    var reg = /^\w{6,16}$/;   
	
    if(reg.test(s)){  
		$(".tips_user").html("").show();
		user = 1;
    }else{
        $(".tips_user").html("<font color=\"red\">角色名必须要6-16位字母、数字和下划线！</font>").show();
		return false;
	}
}
function chekPhone()
{
    var reg = /^13[0-9]{9}$|14[0-9]{9}|15[0-9]{9}$|17[0-9]{9}|18[0-9]{9}$/;
    var s = $("#phone").val();
    if (s !== "" && !reg.test(s) || s.length !== 11) {
        $(".tips_Phone").html("<font color=\"red\">手机格式不正确！</font>").show();
    } else {
		$(".tips_Phone").html("").show();
		Phone = 1;
    }
}

function chekPassWord()
{
    var s = $("#password").val();
    if(s == ""){
        $(".tips_Password").html("<font color=\"red\">密码不能为空</font>").show();
		return false;
	}else{
		$(".tips_Password").html("").show();
		password = 1;
	}
}

function chekRePassWord()
{
    if ($("#password").val() == $("#rePassword").val())
    {
        $(".tips_RePassword").html("").show();
        rpassword = 1;
    } else {
		$('.tips_RePassword').html('<font color="red">两次输入的密码不一致！</font>').show();
    }
}

function sub(obj){
	chekUsName();
	chekPhone();
	chekPassWord();
	chekRePassWord();
	if(user == 1 && Phone == 1 && password == 1 && rpassword == 1)
	{
		$.ajax({
			url: '/agent/<!--{$action}-->_save',
			type: 'post',
			dataType:'json',
			data: $('#form').serialize(),
			success: function(data) {
				alert(data.message);
				if(data.status==678){
					alert(data.message);
					window.location.href="/agent/addshow";
				}else{
					$(".tips").html("<font color=\"red\">"+data.message+"</font>");
					setTimeout(function() {
						$(".tips").html('');
					}, 30000);
					return false;
				} 
			}
		});
	}
	


};

</script>
</body>
</html>