<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>直销管理系统</title>
	<base href="<?php echo InitPHP::getConfig('url');?>"/>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/css.css">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/public.css">
  <link rel="stylesheet" href="/static/css/department.css">
  <script type="text/javascript" src="/static/js/jquery-3.1.1.js"></script>
  <script type="text/javascript" src="/static/js/customer.js"></script>
  <style>
	p, .p {
	    margin-bottom: 15px;
	    line-height: 19px;
	}
  </style>
</head>
<body>

<div class="wrapper">
<!--{layout:top}-->

<article class="content">
<!--{layout:left_customer_nav}-->

 <div class="right st_right">
    <div class="rigth_title">
    <h2>客户分配</h2>
    </div>

  <div class="body-content">
	<form id="form" class="form-x" >
      <div class="form-group">
        <div class="label">
          <label>原销售：</label>
        </div>
        <div class="field">
			<p><!--{$origin_inviter_name}--></p>
            <input name="origin_inviter_id" id="origin_inviter_id" type="hidden" value="<!--{$origin_inviter_id}-->" />
            <input name="origin_inviter_name" id="origin_inviter_name" type="hidden" value="<!--{$origin_inviter_name}-->" />
        </div>
      </div>
	<div class="form-group">
		<div class="label">
			<label>新销售：</label>
		</div>
        <div class="field" id="power">
	      <p name="new_inviter_name" id="new_inviter_name" style="height:20px">请选择</p>
	      <input type="hidden" name="new_inviter_id" id="new_inviter_id" value="" />
		  <div id="d_list" style="display:none"><!--{$list_json}--></div>
       </div>
			
		<div id="reserved">
		</div>
	</div>
		
     <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
            <input name="investor_id" id="investor_id" type="hidden" value="<!--{$investor_id}-->" />
            <input name="investor_name" id="investor_name" type="hidden" value="<!--{$investor_name}-->" />
            <input name="customer_pool_id" id="customer_pool_id" type="hidden" value="<!--{$customer_pool_id}-->" />
            <button  class="button bg-main icon-check-square-o" type="button" onclick="sub(this)"> 提交</button>
        </div>
      </div>
    </form>
  </div>
<script type="text/javascript">
function sub(obj){
	var c_p_id   = $("#customer_pool_id").val();
	var inv_id   = $("#investor_id").val(); 
	var i_name   = $("#investor_name").val(); 
	var o_i_id 	 = $("#origin_inviter_id").val();
	var o_i_name = $("#origin_inviter_name").val();
    var n_i_id 	 = $('#new_inviter_id').val();
    var n_i_name = $('#new_inviter_name').html();

	$.ajax({
		url: '/customer/<!--{$action}-->',
		type: 'post',
		dataType: 'json',
		data:{customer_pool_id:c_p_id,investor_id:inv_id,investor_name:i_name,origin_inviter_id:o_i_id, origin_inviter_name:o_i_name,new_inviter_id:n_i_id,new_inviter_name:n_i_name},
		success: function(data) {
			if(data.status==1){
				window.location.href="/customer/run";
			}else{
				$("#tipss").html("<font color=\"red\">"+data.message+"</font>");
				setTimeout(function() {
					$("#tipss").html('');
				}, 3000);
				return false;
			}
		}
	});
};
</script>

</div>
</article>
</div>
	<div id="tcbox">
    	<h1>部门选择 <span id="ctcs_btn">关闭</span></h1>
    	<div class="tcbox_left"></div>

    	<div class="tcbox_right">
     	<table>
         <tr>
             <th>姓名</th>
             <th>职务</th>
         </tr>
     	</table>
    	</div>
	</div>
<script type="text/javascript" src="/static/js/public.js"></script>
</body>
</html>
