<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>直销管理系统</title>
	<base href="<?php echo InitPHP::getConfig('url');?>"/>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/css.css">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/public.css">
  <link rel="stylesheet" href="/static/css/structure.css">
  <script type="text/javascript" src="/static/js/jquery-3.1.1.js"></script>
</head>
<body>

<div class="wrapper">
<!--{layout:top}-->

<article class="content">
<!--{layout:left_customer_nav}-->

 <div class="right st_right">
    <div class="rigth_title">
    <h2>分配记录</h2>
    </div>

<div class="panel admin-panel">
  <div class="padding border-bottom">
      <form action="/customer/record" method="post">
			<input type="text" name="investor_name" style="width: 160px;" value="<!--{$investor_name}-->" placeholder="客户姓名">
      	<input type="submit" class="button border-main" value="搜索" style="width:80px">
      </form>
  </div>
  <div class="right_list">
  <table class="table table-hover text-center">
    <tr>
      <th>记录ID</th>     
      <th>客户ID</th> 
      <th>客户名</th> 
      <th>上次所属销售ID</th> 
      <th>上次所属销售名字</th>     
      <th>这次所属销售ID</th>     
      <th>这次所属销售名字</th>     
      <th>被分配的时间</th>     
    </tr>
	
	<!--{if(isset($records) && !empty($records))}-->
		<!--{foreach($records as $k => $v)}-->
    	<tr>
      		<td><!--{$v['record_id']}--></td>
      		<td><!--{$v['investor_id']}--></td> 
      		<td><!--{$v['investor_name']}--></td>
      		<td><!--{$v['origin_inviter_id']}--></td>
      		<td><!--{$v['origin_inviter_name']}--></td>
      		<td><!--{$v['new_inviter_id']}--></td>
      		<td><!--{$v['new_inviter_name']}--></td>
      		<td><!--{$v['create_time']}--></td>
    	</tr> 
		<!--{/foreach}-->
	<!--{else}-->
        <tr>
            <td colspan="8">暂无数据</td>
        </tr>
	<!--{/if}-->

  </table>
</div>
</div>


<!--{if($count > 10)}-->
<div class="padding border-bottom">
    <!--{$page_html}-->
</div>
<!--{/if}-->

</div>
</article>
</div>
<script type="text/javascript" src="/static/js/public.js"></script>
</body>
</html>
