<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>业务管理系统</title>
	<base href="<?php echo InitPHP::getConfig('url');?>"/>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/css.css">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/public.css">
  <link rel="stylesheet" href="/static/css/structure.css"> 
  <script type="text/javascript" src="/static/js/jquery-3.1.1.js"></script>
</head>
<body>

<div class="wrapper">
<!--{layout:top}--> 

<article class="content">
<!--{layout:left_corp_nav}-->
 <div class="right st_right">
     <div class="rigth_title">
       <h2>修改密码</h2>
     </div>


  <div class="body-content">
	<form id="form" class="form-x" >
	
       <div class="form-group">
        <div class="label">
          <label>新密码：</label>
        </div>
        <div class="field">
		  <input name="password" type="password" class="input w50" id="password"/> 
		  <div class="tips_pwd" style="float: left;padding-left: 10px;color: #888;line-height: 42px;"></div>		  
        </div>
      </div> 

       <div class="form-group">
        <div class="label">
          <label>确认密码：</label>
        </div>
        <div class="field">
		  <input name="password2" type="password" class="input w50" id="password2"/> 
		  <div class="tips_pwd1" style="float: left;padding-left: 10px;color: #888;line-height: 42px;"></div>		  
        </div>
      </div> 
     
     <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
		    <input name="id" id="id" type="hidden" value="<!--{$info['id']}-->" />
			<input type="hidden" name="init_token" id="init_token" value="<!--{$init_token}-->"/>
            <button  class="button bg-main icon-check-square-o" type="button" onclick="sub(this)"> 修改</button>
        </div>
      </div>
    </form>
  </div>
<script type="text/javascript">
function sub(obj){
	var $pwd = $("#password").val();
	var $pwd2 = $("#password2").val();
	if($pwd == ""){
		$(".tips_pwd").text('新密码不能为空').css('color','red');
		return false;
	}else{
		$(".tips_pwd").text('');
	}

	if($pwd2 == ""){
		$(".tips_pwd1").text("确认密码不能为空").css('color','red');
		return false;
	}else{
		$(".tips_pwd1").text('');
	}

	$.ajax({
		url: '/admin/modifyPassword',
		type: 'post',
		dataType:'json',
		data: $('#form').serialize(),
		success: function(data) {
			if(data.status==1){
				window.location.href="/index/run";
			}else{
				alert(data.message);
			
				$(".tips").html("<font color=\"red\">"+data.message+"</font>");
				setTimeout(function() {
					$(".tips").html('');
				}, 30000);
				return false;
			}
		}
	});
};
$('#password').keyup(function(){
 $('.tips_pwd').text('');
});
$('#password2').keyup(function(){
  $('.tips_pwd1').text('');
});
</script>

</div>
<article>
</div>
<script type="text/javascript" src="/static/js/public.js"></script>
</body>
</html>
