<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><!--{$title}--></title>
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/public.css">
  <link rel="stylesheet" href="/static/css/index.css">
  <script type="text/javascript" src="/static/js/jquery-3.1.1.js"></script>
</head>
<body>
<div class="wrapper">
<!--{layout:top}-->
<!-- 主体内容 -->
<div class="content">
  <!-- 左侧导航列表 -->
  <div class="left">
    <!-- 头像用户名 -->
    <div class="user">
          <div class="portrait"><img src="/static/images/user.png" alt=""></div>
          <div class="name"><span>您好！<!--{$list['UsrName']}--></span></div>
    </div>
    <!-- 位置职级 -->
    <div class="pospro">
       <div class="pos">
         <p><i class="iconstyel"></i><span>您所在的部门:</span></p>
			<p><!--{$departmentName}--></p>
       </div>
       <div class="pro">
         <p><i class="iconstyel"></i><span>您目前的角色:</span></p>
         <p><!--{$list['gnname']}--></p>
       </div>
    </div>
  </div>
  <!-- 右侧信息列表 -->
  <div class="right">
    <!-- 公告 -->
    <div class="cement">
       <div class="cenmet_left">
         <i class="iconstyel"></i>
         <p>最新公告</p><span>|</span><p>集团下发的最新政策调整通知</p>
       </div>
       <div class="cenmet_right">
         <p>2017.01.01</p><span>|</span><a href="">更多>></a>
       </div>
    </div>
  <!-- 管理 -->
  <div class="magBox">
    <!-- 个人管理 -->
     <div class="magement">
         <div class="magement_title"><h1>个人管理</h1></div>
          <div class="magement_body">
            <ul>
              <li class="mag_box">
                <div class="mag_l"></div>
                  <div class="mag_r">
                    <p><!--{$UidNumber}-->人</p>
                    <span>累计客户数</span>
                </div>
              </li>
              <li class="mag_box">
                <div class="mag_l mag_l_2"></div>
                  <div class="mag_r">
                    <p><!--{$getlastMonthzonge}--></p>
                    <span>上月入金规模(元)</span>
                </div>
              </li>
              <li class="mag_box">
                <div class="mag_l mag_l_3"></div>
                  <div class="mag_r">
                    <p><!--{$montnumber}-->人</p>
                    <span>本月新增客户数</span>
                </div>
              </li>
              <li class="mag_box">
                <div class="mag_l mag_l_4"></div>
                  <div class="mag_r">
                    <p><!--{$getlastMonthnianhuan}--></p>
                    <span>上月折标业绩(元)</span>
                </div>
              </li>
            </ul>
          </div>
       </div>
       <!-- 团队管理 -->
       <div class="magement magement_r">
           <div class="magement_title"><h1>团队管理</h1></div>
            <div class="magement_body">
              <ul>
                <li class="mag_box">
                  <div class="mag_l"></div>
                    <div class="mag_r">
                      <p><!--{$customersCount}-->人</p>
                      <span>累计客户数</span>
                  </div>
                </li>
                <li class="mag_box">
                  <div class="mag_l mag_l_2"></div>
                    <div class="mag_r">
                      <p><!--{$shangYueStat['ruJinGuiMo']}--></p>
                      <span>上月入金规模(元)</span>
                  </div>
                </li>
                <li class="mag_box">
                  <div class="mag_l mag_l_3"></div>
                    <div class="mag_r">
                      <p><!--{$curClientCount}-->人</p>
                      <span>本月新增客户数</span>
                  </div>
                </li>
                <li class="mag_box">
                  <div class="mag_l mag_l_4"></div>
                    <div class="mag_r">
                      <p><!--{$shangYueStat['zheBiaoJinE']}--></p>
                      <span>上月折标业绩(元)</span>
                  </div>
                </li>
              </ul>
            </div>
         </div>
     </div>
     <!-- 销售之星 -->
     <div class="magBox sales_box">
       <!-- 销售之星左 -->
       <div class="magement magement_r sales_box_1">
           <div class="magement_title sales"><span><!--{$YearsMonth}-->月</span><h1>销售之星</h1></div>
            <div class="magement_body">
            <!--{if($checkAmount)}-->
                <table>
                  <tr class="one_tb">
                    <th></th>
                    <th>姓名</th>
                    <th>职务</th>
                    <th>入金规模(万元)</th>
                    <th>折标业绩(万元)</th>
                  </tr>
                  <!--{foreach($output as $key=>$vo)}-->
	                  <tr>
	                    <td>
	                    <?php $k++;?>
	                    	<img src="/static/images/top_<?php echo $k;?>.png" alt="">
	                    </td>
	                    <td><!--{$vo['UsrName']}--></td>
	                    <td><!--{$vo['gname']}-->-<!--{$vo['department_name']}--></td>
	                    <td><!--{$vo['zonge']}--></td>
	                    <td><!--{$vo['nianhuan']}-->(万元)</td>
	                  </tr>
                  <!--{/foreach}-->
                </table>
                <!--{else}-->
                <table>
                 <tr>
				    <td colspan="4">暂无排行数据</td>
				 </tr>
	  			</table>
              <!--{/if}-->
            </div>
         </div>
         
         <!-- 销售之星右 -->
         <div class="magement sales_box_1 sales_box_2">
             <div class="magement_title sales"><span>2017-10月</span><h1>团队精英</h1></div>
              <div class="magement_body">
                <table>
                  <tr class="one_tb">
                    <th></th>
                    <th>部门</th>
                    <th>入金规模(万元)</th>
                    <th>折标业绩(万元)</th>
                  </tr>
                  <!--{if($TeamTopList)}-->
                  <!--{foreach($TeamTopList as $k=>$v)}-->
                  <tr>
                     <td>
                     <?php $k++;?>
                    	<img src="/static/images/top_<?php echo $k;?>.png" alt="">
                     </td>
                     <td><!--{$v['departmentName']}--></td>
                     <td><!--{$v['rujin']}--></td>
                     <td><!--{$v['zhebiao']}--></td>
                   </tr>
                  <!--{/foreach}-->
                  <!--{else}-->
                  <tr>
					<td colspan="4">暂无排行数据</td>
				  </tr>
	              <!--{/if}-->
                </table>
              </div>
           </div>
           
				
      </div>
  </div>
</div>
<script type="text/javascript" src="/static/js/public.js"></script>
</body>
</html>
