<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>销售管理系统</title>
    <base href="<?php echo InitPHP::getConfig('url');?>"/>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/css.css">
    <script src="/static/js/jquery.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong class="icon-reorder"> 用户列表</strong></div>
  <div class="padding border-bottom">  
      <a class="button border-yellow" href="/myClients/run"> 已投资客户</a>
      <a class="button border-yellow" href="/myClients/noInvest" style="color:#fff;border-color:#f90;background-color:#f90"> 未投资客户 </a>
  </div>
  <div class="padding border-bottom">
      <form action="/myclients/noInvest" method="post">
        投资人 ： <input type="text" name="uname" style="width: 160px;height: 25px;margin-right: 30px;" value="<!--{$uname}-->" placeholder="姓名">
        手机号 ： <input type="text" name="phone" style="width: 160px;height: 25px;margin-right: 30px;" value="<!--{$phone}-->" placeholder="手机号">
        到期日 ： <input type="text" name="start_date" style="width: 130px;height: 25px;margin-right: 30px;" value="<!--{$start_date}-->" placeholder="1990-01-01"readonly="readonly" >
        <input type="text" name="end_date" style="width: 130px;height: 25px;margin-right: 30px;" value="<!--{$end_date}-->" placeholder="1990-01-01" readonly="readonly">
      <input type="submit" class="button border-yellow" value="搜索"> 
      </form>
      <div style="padding-top:20px;">共有<sapn style="color: red;"><!--{$count}--></sapn>未投资客户</div>
  </div> 
  <table class="table table-hover text-center">
        <tr>
        <th width="5%">会员ID</th>     
        <th>用户名</th> 
        <th>姓名</th>
        <th>手机</th>
        <th>注册日期</th>
        <th>是否开通存管</th>
    </tr>
    <!--{if($friends!='')}-->
        <!--{foreach($friends as $k=>$v)}-->
        <tr>
            <td><!--{$v['id']}--></td>
            <td><!--{$v['username']}--></td>
            <td><!--{$v['UsrName']}--></td>
            <td><!--{$v['UsrMp']}--></td>
            <td><!--{$v['login_time']}--></td>
            <td><?php echo date('Y-m-d',$v['create_time']);?></td>
        </tr>
        <!--{/foreach}-->
    <!--{else}-->
        <tr>
            <td colspan="6">暂无数据</td>
        </tr>
    <!--{/if}-->
  </table>
</div>
<div class="padding border-bottom">  
    <!--{$page_html}-->
</div> 
</body></html>
