<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>百合贷直销系统-销售业绩</title>
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/css.css">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/public.css">
  <link rel="stylesheet" href="/static/css/results.css">
  <link href="/static/css/mricode.pagination.css" rel="stylesheet" />
  <script type="text/javascript" src="/static/js/jquery-3.1.1.js"></script>
  <script type="text/javascript" src="/static/js/mricode.pagination.js"></script>
  <script type="text/javascript" src="/static/My97DatePicker/WdatePicker.js"></script>
</head>
<body>
<div class="wrapper">
  <!--{layout:top}-->
<!-- 主体内容 -->
<article class="content">
  <!--{layout:left_results_nav}-->
  <!-- 右侧信息列表 -->
  <div class="right">
     <div class="rigth_title">
       <h2>我的客户</h2>
     </div>
     <div class="padding border-bottom">  
      <a class="button border-main" href="/myClients/run<!--{if(!empty($uid))}-->/uid/<!--{$uid}--><!--{/if}-->/bmyjmx/<!--{$bmyjmx}-->"> 已投资客户</a>
      <a class="button border-main" href="/myClients/noInvest<!--{if(!empty($uid))}-->/uid/<!--{$uid}--><!--{/if}-->/bmyjmx/<!--{$bmyjmx}-->" style="color:#fff;border-color:#0ae;background-color:#0ae"> 未投资客户 </a>
  </div>
  <div class="padding border-bottom">
      <form action="/myClients/noInvest/bmyjmx/<!--{$bmyjmx}-->" method="post">
        投资人 ： <input type="text" name="uname" style="width: 160px;height: 25px;margin-right: 30px;" value="<!--{$uname}-->" placeholder="姓名">
        手机号 ： <input type="text" name="phone" id="phone" style="width: 160px;height: 25px;margin-right: 30px;" value="<!--{$phone}-->" placeholder="手机号">
      <input type="submit" class="button border-main" value="搜索" onClick="tijiao();"> 
      </form>
      <div style="padding-top:20px;">共有<sapn style="color: red;"> <!--{if(!empty($count))}--><!--{$count}--><!--{else}-->0<!--{/if}--></sapn> 未投资客户</div>
  </div> 
         <!-- 表格列表 -->
         <div class="tablelist">
           <table>
			<tr>
				<th>会员ID</th>     
				<th>用户名</th> 
				<th>姓名</th>
				<th>手机</th>
				<th>注册日期</th>
				<th>是否开通存管</th>
			</tr>
             <!--{if($friends!='')}-->
	         <!--{foreach($friends as $k=>$v)}-->
		        <tr>
		            <td><!--{$v['id']}--></td>
		            <td><!--{$v['username']}--></td>
		            <td><!--{$v['UsrName']}--></td>
		            <td><!--{$v['phone']}--></td>
		            <td><!--{$v['login_time']}--></td>
		            <td><?php echo date('Y-m-d',$v['create_time']);?></td>
		        </tr>
		        <!--{/foreach}-->
		    <!--{else}-->
		        <tr style="text-align:center">
			    	<td colspan="6">暂无数据</td>
			    </tr>
		    <!--{/if}-->
           </table>
         </div>
			<!--{if(is_array($user_data))}-->
			<div class="padding border-bottom">  
			    <!--{$page_html}-->
			</div> 
			<!--{/if}-->
       </div>
  </div>
</article>
</div>
<script type="text/javascript" src="/static/js/public.js"></script>
<script type="text/javascript" src="/static/js/results.js"></script>
<script type="text/javascript">
//form表单验证
function tijiao(){
	var phone = $("#phone").val();
	var reg = /^1[3|4|5|7|8][0-9]{9}$/;
	if(phone!=""){
		var flag = reg.test(phone);
		if(flag==false){
			alert('手机号输入错误!');
			return false;
		}
	}
}
</script>
</body>
</html>
