<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>百合贷直销系统-销售业绩</title>
	<link rel="stylesheet" href="/static/css/base.css">
	<link rel="stylesheet" href="/static/css/css.css">
	<link rel="stylesheet" href="/static/css/normalize.css">
	<link rel="stylesheet" href="/static/css/public.css">
	<link rel="stylesheet" href="/static/css/results.css">
	<link href="/static/css/mricode.pagination.css" rel="stylesheet" />
	<script type="text/javascript" src="/static/js/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="/static/js/mricode.pagination.js"></script>
	<script type="text/javascript" src="/static/My97DatePicker/WdatePicker.js"></script>
</head>
<body>
<div class="wrapper">
  <!--{layout:top}-->
<!-- 主体内容 -->
<article class="content">
  <!--{layout:left_results_nav}-->
  <!-- 右侧信息列表 -->
  <div class="right">
     <div class="rigth_title">
       <h2>我的客户</h2>
       <div class="rigth_t_btn">
         <span><a href="/myClients/createExcel" style="color:#fff;">导出表格</a></span>
       </div>
     </div>
      <div class="padding border-bottom">  
	      <a class="button border-main" href="/myClients/run<!--{if(!empty($uid))}-->/uid/<!--{$uid}--><!--{/if}-->/bmyjmx/<!--{$bmyjmx}-->"style="color:#fff;border-color:#0ae;background-color:#0ae"> 已投资客户</a>
	      <a class="button border-main" href="/myClients/noInvest<!--{if(!empty($uid))}-->/uid/<!--{$uid}--><!--{/if}-->/bmyjmx/<!--{$bmyjmx}-->"> 未投资客户 </a>
	  </div>
       <div class="right_list">
         <div class="padding border-bottom">
		      <form action="/myClients/run/bmyjmx/<!--{$bmyjmx}-->" method="post">
		      <input type="text" name="uname" id="uname" style="width: 160px;" value="<!--{$uname}-->" placeholder="姓名">
		      <input type="text" name="phone" id="phone" style="width: 160px;" value="<!--{$phone}-->" placeholder="手机号">
		      <input type="text" name="start_date" id="start_date" style="width: 130px;margin-right:0" value="<!--{$start_date}-->" placeholder="投资日期" onClick="WdatePicker()"> ~ 
		      <input type="text" name="end_date" id="end_date" style="width: 130px;"value="<!--{$end_date}-->" placeholder="" onClick="WdatePicker()">
		      <input type="submit" class="button border-main" value="搜索" onClick="return tijiao();" style="width: 80px;"> 
		      </form>
		      <div style="padding-top:20px;">
		          <span>客户数量合计：<span style="color:red;"><!--{$friendsCount}--></span>人   &nbsp;&nbsp;&nbsp;&nbsp;</span>
		          <span>投资金额合计：<span style="color:red;"><!--{$tzje_count}--></span>元</span>&nbsp;&nbsp;&nbsp;&nbsp;
		          <span>折标金额合计：<span style="color:red;"><!--{$nhsyl_count}--></span>元</span>
		      </div>
		  </div> 
         <!-- 表格列表 -->
         <div class="tablelist">
           <table>
             <tr>
               <!-- <th>会员ID</th> -->
               <th>项目名称</th>
               <th>客户姓名</th>
               <th>手机号</th>
               <th>投资日期</th>
               <th>成立日期</th>
               <th>到期日期</th>
               <th>投资金额(元)</th>
               <th>投资利率</th>
               <th>折标金额(元)</th>
               <th>代金/加息券</th>
               <th>当前业务员</th>
               <th>客户明细</th>
             </tr>
             <!--{if(!empty($friends))}-->
             <!--{foreach($friends as $k=>$v)}-->
             <tr>
                <!--<td>{$v['uid']}</td>-->
		        <td><!--{$v['title']}--></td>
		        <td><!--{$v['UsrName']}--></td>
		        <td><!--{$v['phone']}--></td>
		        <td><?php echo date('Y-m-d',$v['order_time']);?></td>
		        <td><?php echo date('Y-m-d',$v['start_date']);?></td>
		        <td><?php echo date('Y-m-d',$v['deal_end_date']);?></td>
		        <td><!--{$v['order_money']}--></td>
		        <td><!--{$v['syl']}-->%</td>
		        <td><!--{$v['nhsyl']}--></td>
		        <td>
		        	<!--{if($v['VocherAmt']!='')}-->
		        		<!--{$v['VocherAmt']}-->元
		        	<!--{elseif($v['JiaXi']!='')}-->
		        		<!--{$v['JiaXi']}-->%
		        	<!--{/if}-->
		        </td>
		        <td><!--{$v['salesman']}--></td>
               <td><a href="/myClients/detail/clientId/<!--{$v['uid']}-->/bmyjmx/<!--{$bmyjmx}-->" class="detail-a">查看</a></td>
             </tr>
             <!--{/foreach}-->
             <!--{else}-->
             <tr>
                <td colspan="12">暂无数据</td>
		     </tr>
             <!--{/if}-->
           </table>
         </div>
         <!--{if(!empty($friends))}-->
           <div class="padding border-bottom"><!--{$page_html}--></div>
         <!--{/if}-->
       </div>
  </div>
</article>
</div>
<script type="text/javascript" src="/static/js/public.js"></script>
<script type="text/javascript" src="/static/js/results.js"></script>

<script type="text/javascript">
//form表单验证
function tijiao(){
	var start_date = $("#start_date").val();
	var end_date = $("#end_date").val();
	var phone = $("#phone").val();
	var reg = /^1[3|4|5|7|8][0-9]{9}$/;
	if(phone!=""){
		var flag = reg.test(phone);
		if(flag==false){
			alert('手机号输入错误!');
			return false;
		}
	}
	if(start_date =='' && end_date !=""){
	 alert('请选择开始时间！');
	 return false;
	}else if(start_date !='' && end_date ==""){
	 alert('请选择结束时间！');
	 return false;
	}
}
</script>
</body>
</html>
