<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>销售管理系统</title>
    <base href="<?php echo InitPHP::getConfig('url');?>"/>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/css.css">
    <script src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/jeDate/jedate.js"></script>
    <style type="text/css">
        body{font-family:微软雅黑;}
    </style>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong class="icon-reorder"> 用户列表</strong></div>
  <div class="padding border-bottom">  
      <a class="button border-yellow" href="/myClients/run/"style="color:#fff;border-color:#f90;background-color:#f90"> 已投资客户</a>
      <a class="button border-yellow" href="/myClients/noInvest/"> 未投资客户 </a>
  </div>
  <div class="padding border-bottom">
      <form action="/myclients/run" method="post">
        投资人 ： <input type="text" name="uname" style="width: 160px;height: 25px;margin-right: 30px;" value="<!--{$uname}-->" placeholder="姓名">
        手机号 ： <input type="text" name="phone" style="width: 160px;height: 25px;margin-right: 30px;" value="<!--{$phone}-->" placeholder="手机号">
        投资日期 ： <input type="text" name="start_date" id="dateinfo" style="width: 130px;height: 25px;margin-right: 30px;" value="<!--{$start_date}-->" placeholder="">
        <input type="text" name="end_date" id="dateinfo2" style="width: 130px;height: 25px;margin-right: 30px;" value="<!--{$end_date}-->" placeholder="">
      <input type="submit" class="button border-yellow" value="搜索"> 
      </form>
      <div style="padding-top:20px;">共有<sapn style="color: red;"><!--{$count}--></sapn>个<!--{if($status=='1')}-->未<!--{/if}-->投资客户</div>
  </div> 
  <table class="table table-hover text-center">
    <tr>
        <th width="5%">会员ID</th>    
        <th>项目名称</th>
        <th>客户姓名</th> 
        <th>手机号</th>
        <th>投资日期</th>
        <th>成立日期</th>
        <th>到期日期</th>
        <th>投资金额(元)</th>
        <th>投资利率</th>
        <th>折标金额(元)</th>
        <th>业务员</th>
        <th>客户明细</th>
    </tr>
    <!--{foreach($friends as $k=>$v)}-->
    <tr>
        <td><!--{$v['uid']}--></td>
        <td><!--{$v['title']}--></td>
        <td><!--{$v['UsrName']}--></td>
        <td><!--{$v['phone']}--></td>
        <td><?php echo date('Y-m-d',$v['order_time']);?></td>
        <td><?php echo date('Y-m-d',$v['start_date']);?></td>
        <td><?php echo date('Y-m-d',$v['end_date']);?></td>
        <td><!--{$v['order_money']}--></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <div class="button-group">
                <a type="button" class="button border-main" href="/myClients/detail/clientId/<!--{$v['uid']}-->"><span class="icon-edit"></span>查看</a>
            </div>
        </td>
    </tr>
    <!--{/foreach}-->
  </table>
</div>
<div class="padding border-bottom">  
    <!--{$page_html}-->
</div> 
    <script type="text/javascript">
        jeDate({
            dateCell:"#dateinfo",
            format:"YYYY-MM-DD",
            isinitVal:false,
            isTime:false, //isClear:false,
            minDate:"2014-09-19",
            okfun:function(val){alert(val)}
	});
        jeDate({
            dateCell:"#dateinfo2",
            format:"YYYY-MM-DD",
            isinitVal:false,
            isTime:false, //isClear:false,
            minDate:"2014-09-19",
            okfun:function(val){alert(val)}
	});
    </script>
</body>
</html>

